# This is a basic workflow to help you get started with Actions

name: patreon post
on:
  release:
    types: 
      - 'published'
jobs:
  create_post:
    runs-on: ubuntu-latest
    name: patreon post
    steps:
      - name: post
        uses: IATkachenko/patreon-post@v1.1.3
        with:
          login: ${{ secrets.PATREON_USER }}
          password: ${{ secrets.PATREON_PASSWORD }}
